@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@100&display=swap');
$body-font: 'Montserrat', sans-serif;
$header-font: 'Gochi Hand', cursive;
$jumbotron-background-color: #F4F446;
$header-text-color: #4646F4;
$body-color: #c1c1e0;

body {
    background: $body-color;
}

h1{
    font-family: $header-font;
    font-size: 48px;
    color: $header-text-color;
}

h2{
    font-family: $header-font;
    font-size: 26px;
    color: $header-text-color;
}

.jumbotron {
    background-image: linear-gradient($jumbotron-background-color, $body-color);
}

.overlay-image-gradient{
    background-image: linear-gradient(#fff 0%, $body-color 100%);
}

