@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@100&display=swap');
$body-font: 'Montserrat', sans-serif;
$header-font: 'Gochi Hand', cursive;
$jumbotron-background-color: #F4F446;
$header-text-color: #4646F4;
$body-color: #c1c1e0;
$secondary-text-color: #4d9c84;

body {
    background: $body-color;
}

h1{
    font-family: $header-font;
    font-size: 55px;
    color: $header-text-color;
}

h2{
    font-family: $header-font;
    font-size: 36px;
    color: $header-text-color;
}

h3{
    font-family: $header-font;
    font-size: 24px;
    color: $header-text-color;
}

h4{
    font-family: $header-font;
    font-size: 18px;
    color: $secondary-text-color;
}

.jumbotron {
    background-image: linear-gradient($jumbotron-background-color, $body-color);
    height: 160px;
    margin: 1;

}

.overlay-image-gradient{
    background-image: linear-gradient(#fff 0%, $body-color 100%);
}

img{
    padding-bottom: 8px;

}

.nav-item{
    margin-left: 15px;
    margin-right: 10px;
}
